body{
    background-color:lightblue;
}
body{
    color:slategrey;
}
.titulo{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 100px;
}
.restante{
    text-align: center;
    font-family: oblique;
    font-size: 15px;
}
.cuadro{
    width: 500px;
    background-color:transparent;
    border-top: none; 
    border-left: none;
    border-right: none;
    border-bottom: 5px inset;
}
.boton{
    margin-top: 30px;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 14px;
    border-radius: 4px;
}

table{
    margin-top: 50px;
    margin-left:50px;
    margin-right:50px;
    border: 2px solid white;
    border-collapse: collapse;

}
tr, th{
    padding: 5px;
    text-align: center;
    border: 2px solid white;
}